services:
  wiki-as-readme:
    build: .
    container_name: wiki-as-readme
    ports:
      - "8000:8000" # API
      - "8501:8501" # Streamlit UI
    env_file:
      - .env
    volumes:
      - ./output:/app/output
      - ./credentials.json:/app/credentials.json # Google Cloud Credentials
      - ./:/app/target_repo # Mount current directory for local analysis
    restart: always
